<?xml version="1.0"?>


<launch>
    <arg name="simulation_mode" default="false"/>

    <arg name="hardware_with_gui" default="false"/>
    <include file="$(find aio_robot)/launch/load_robot_model.launch" >
        <arg name="simulation_mode" default="$(arg simulation_mode)"/>
    </include>

    <group if="$(arg simulation_mode)">
        <!-- these are the arguments you can pass this launch file, for example paused:=true -->
        <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(find aio_robot)/worlds/field2_v1.world"/>
            <arg name="debug" value="false" />
            <arg name="gui" value="true" />
            <arg name="paused" value="true"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="headless" value="false"/>
        </include>
        <arg name="rvizconfig" default="$(find aio_robot)/rviz/rv.rviz" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />    
        <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="keboard_control" output="screen" />

    </group>
    <group unless="$(arg simulation_mode)">
        <include file="$(find aio_robot)/launch/rplidar.launch" />
        <node pkg="aio_robot" type="stepper_driver_ros_jetson.py" name="motors_control" output="screen" />
        <node pkg="aio_robot" type="stepper_link.py" name="motors_link" output="screen" />
        <include file="$(find aio_robot)/launch/move_baseSafe.launch"/>
        <group if="$(arg hardware_with_gui)">
            <arg name="rvizconfig" default="$(find aio_robot)/rviz/rv.rviz" />
            <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />   
        </group>
    </group>    





    <node pkg="aio_robot" type="pose_stamped_to_odometry.py" name="pose_convert" output="screen" />
    
</launch>
